@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  scroll-behavior: smooth !important;
}

body {
  --sb-track-color: #111111;
  --sb-thumb-color: #444444;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
